.pagination{
  margin: 0 auto;
}

.bannerContent{
  display : flex;
  justify-content : space-between;
}

.listNav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    min-height: 400px;
    margin-bottom: 20px;
  }

.log{
  width: 30%;
  justify-content: center;
  align-items: center;

}

.ant-notification-topRight {
  position: absolute;
}



.box{
  border-radius : 10px;
  background-color: #D9D9D9;

}

.inBox{
  border-radius : 10px;
  background-color: #FFFFFF;
  
}

.bannerImage{
  width: 250px;
  height: 200px;
}

